body {
    margin: 0;
    font: normal 1em Arial, Helvetica, sans-serif;
    background-color: #0E72DC;
    color: #ffffff;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr) ;
    grid-template-rows: 90px auto ;
    grid-template-areas:
    "h h h h h h h h"
    "m m m m m m m m " ;
}

header {
    grid-area: h;
    border: 5px solid #3B413C;
    background-color: #2EC4B6;
}

main {
    grid-area: m;
    border: 5px solid navy; 
    padding: 1em;
}

.navigation ul li {
    list-style-type: none;
    display: inline; 
    font-size: small;
    margin: .3em;
}

.navigation li a:link, a:visited {
    color: white;
    background-color: #0E72DC;
    border: 2px solid #3B413C;
    padding: .2em;
    margin: .1em;
    text-align: center;
    text-decoration: none;
   display: inline-block; 
}

.navigation li a:hover, a:active {
    color: #3B413C;
    background-color: #ffffff;
    text-decoration: underline;
   display: inline-block; 
}

.checkbox ul li {
    list-style: none;
    align-items: left;
}

.person-info input {
    width: 60%;
    height: 20px;
    font-size: 1em;
}

textarea {
    width: 70%;
    height: 150px;
    font-size: 1em;
}

button {
    width: 20%;
    font-size: 1em;
}

@media screen and (min-width: 768px){
    body {
        margin: 0;
        font: normal 1.5em Arial, Helvetica, sans-serif;
        background-color: #0E72DC;
        color: #ffffff;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(8, 1fr) ;
        grid-template-rows: 150px auto ;
        grid-template-areas:
        "h h h h h h h h"
        "m m m m m m m m " ;
    }

    header {
        grid-area: h;
        border: 5px solid #3B413C;
        background-color: #2EC4B6;
    }
    
    main {
        grid-area: m;
        border: 5px solid navy; 
        padding: 1em;
    }

    .navigation ul li {
        list-style-type: none;
        display: inline; 
        font-size: 1em;
        margin: .5em;
        align-self: center;
    }
 
    .person-info input {
        width: 60%;
        height: 45px;
        font-size: 1em;
    }

    textarea {
        width: 60%;
        height: 150px;
        font-size: 1em;
    }

    button {
        width: 25%;
        font-size: 1em;
    }
}

@media screen and (min-width: 1024px){
    body {
        margin: 0;
        font: normal 1.5em Arial, Helvetica, sans-serif;
        background-color: #0E72DC;
        color: #ffffff;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(8, 1fr) ;
        grid-template-rows: 120px auto ;
        grid-template-areas:
        "h h h h h h h h"
        "m m m m m m m m " ;
    }

    header {
        grid-area: h;
        border: 5px solid #3B413C;
        background-color: #2EC4B6;
    }
    
    main {
        grid-area: m;
        border: 5px solid navy; 
        padding: 1em;
    }

    .navigation ul li {
        list-style-type: none;
        display: inline; 
        font-size: 1em;
        margin: .5em;
        align-self: center;
    }
 
    .person-info input {
        width: 60%;
        height: 45px;
        font-size: 1em;
    }

    textarea {
        width: 60%;
        height: 150px;
        font-size: 1em;
    }

    button {
        width: 15%;
        font-size: 1em;
    }
}